h1 span::after {
  content: "|";
  animation: Headign__animation 4s infinite alternate;
}
@keyframes Headign__animation {
  0% {
    content: "Z|";
  }
  1.33333333333333% {
    content: "ZE|";
  }
  2.66666666666667% {
    content: "ZEY|";
  }
  4% {
    content: "ZEYY|";
  }
  5.33333333333333% {
    content: "ZEYA|";
  }
  6.66666666666667% {
    content: "ZEYA|";
  }
  8% {
    content: "ZEYAD|";
  }
  9.33333333333333% {
    content: "ZEYAD |";
  }
  10.6666666666667% {
    content: "ZEYAD A|";
  }
  12% {
    content: "ZEYAD AS|";
  }
  13.3333333333333% {
    content: "ZEYAD ASH|";
  }
  14.6666666666667% {
    content: "ZEYAD ASHR|";
  }
  16% {
    content: "ZEYAD ASHRA|";
  }
  17.3333333333333% {
    content: "ZEYAD ASHRA|";
  }
  18.6666666666667% {
    content: "ZEYAD ASHRAF|";
  }
  20% {
    content: "ZEYAD ASHRAF|";
  }
  21.3333333333333% {
    content: "ZEYAD ASHRAF|";
  }
  22.6666666666667% {
    content: "ZEYAD ASHRAF|";
  }
  24% {
    content: "ZEYAD ASHRAF|";
  }
  25.3333333333333% {
    content: "ZEYAD ASHRAF|";
  }
  26.6666666666667% {
    content: "ZEYAD ASHRAF|";
  }
  28% {
    content: "ZEYAD ASHRAF|";
  }
  29.3333333333333% {
    content: "ZEYAD ASHRA|";
  }
  30.6666666666667% {
    content: "ZEYAD ASHR|";
  }
  32% {
    content: "ZEYAD ASH|";
  }
  33.3333333333333% {
    content: "ZEYAD ASH|";
  }
  34.6666666666667% {
    content: "ZEYAD AS|";
  }
  36% {
    content: "ZEYAD A|";
  }
  37.3333333333333% {
    content: "ZEYAD|";
  }
  38.6666666666667% {
    content: "ZEYAD|";
  }
  40% {
    content: "ZEYAD|";
  }
  41.3333333333333% {
    content: "ZEYA|";
  }
  42.6666666666667% {
    content: "ZEY|";
  }
  44% {
    content: "ZE|";
  }
  45.3333333333333% {
    content: "ZE|";
  }
  46.6666666666667% {
    content: "Z|";
  }
  48% {
    content: "D|";
  }
  49.3333333333333% {
    content: "De|";
  }
  50.6666666666667% {
    content: "Dev|";
  }
  52% {
    content: "Deve|";
  }
  53.3333333333334% {
    content: "Devel|";
  }
  54.6666666666667% {
    content: "Develo|";
  }
  56% {
    content: "Develop|";
  }
  57.3333333333334% {
    content: "Develope|";
  }
  58.6666666666667% {
    content: "Developer|";
  }
  60% {
    content: "Developer|";
  }
  61.3333333333334% {
    content: "Developer|";
  }
  62.6666666666667% {
    content: "Developer|";
  }
  64% {
    content: "Developer|";
  }
  65.3333333333334% {
    content: "Developer|";
  }
  66.6666666666667% {
    content: "Developer|";
  }
  68% {
    content: "Developer|";
  }
  69.3333333333334% {
    content: "Develope|";
  }
  70.6666666666667% {
    content: "Develop|";
  }
  72% {
    content: "Develo|";
  }
  73.3333333333333% {
    content: "Devel|";
  }
  74.6666666666667% {
    content: "Deve|";
  }
  76% {
    content: "Dev|";
  }
  77.3333333333333% {
    content: "De|";
  }
  78.6666666666667% {
    content: "D|";
  }
  80% {
    content: "D|";
  }
  81.3333333333333% {
    content: "De|";
  }
  82.6666666666666% {
    content: "Des|";
  }
  84% {
    content: "Desi|";
  }
  85.3333333333333% {
    content: "Desig|";
  }
  86.6666666666666% {
    content: "Design|";
  }
  88% {
    content: "Designe|";
  }
  89.3333333333333% {
    content: "Designer|";
  }
  90.6666666666666% {
    content: "Designer|";
  }
  91.9999999999999% {
    content: "Designe|";
  }
  93.3333333333333% {
    content: "Design|";
  }
  94.6666666666666% {
    content: "Desig|";
  }
  95.9999999999999% {
    content: "Desi|";
  }
  97.3333333333333% {
    content: "Des|";
  }
  98.6666666666666% {
    content: "De|";
  }
  99.9999999999999% {
    content: "D|";
  }
}
